<footer>

 <div class="row">
  <div class="col-md-8">
    &copy; {{ 'now' | date: "%Y" }} {{ site.name }}
  </div>

  <div class="col-md-4 text-right">
   {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
   {% for post in posts %}
   <a href="{{ post.permalink | prepend: site.baseurl }}" class="{{ post.lang }}">
    <img src="/img/{{page.lang}}.svg" width="24px" class="flag" />
   </a>
   {% endfor %}

   {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
   {% for page in pages %} 
   <a href="{{ page.permalink | prepend: site.baseurl }}" class="{{ page.lang }}">
    <img src="/img/{{page.lang}}.svg" width="24px" class="flag" />
   </a>
   {% endfor %}
  </div>
 </div>
 <div class="row">
  <div class="col-md-6">
    - <a href="{%link imprint.md %}">/imprint</a>
    - <a href="{%link contact.html %}">/contact</a>
   </div>
  </div>
 </div>

</footer>
