<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
 {% include head.html %}
 <body>
  <div class="container">

   <div class="col-sm-3">
    <img id="about" src="{{ site.baseurl }}/img/logo.svg"
         height="96px" /><br />	

    <strong>navigation</strong><br />
    {% assign pages=site.pages | where:"lang", page.lang | sort: 'priority' %}
    {% for i in pages %}
     <a class="about" href="{{ i.url | prepend: site.baseurl }}">{{ i.ref }}</a><br />
    {% endfor %}

    {% if site.vision %}
    <div id="about">
     <strong>vision</strong><br />
     {{ site.vision[page.lang] }}
    </div>
    {% endif %}
   </div>

   <div class="col-sm-8 col-offset-1">

    <div class="content-wrapper">
     {{ content }}
    </div>

    {% include footer.html %}

   </div>

  </div>
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
 </body>
</html>
